* {
    transition: all 0.25s;
  }
  
  body{
    background: url(https://www.pjelektric.pl/img/slides/elektrycznosc.jpg);
}
  
  #encabezado {
    width: 60vw;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
  }
  
  .opcion {
    text-align: center;
    width: 60vw;
    background: white;
    
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  .opcion:hover{
       background: lightgray;
  }
  #ayuda{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border-color: black;
    font-size: 25px;
  }